@font-face {
    font-family: "belleza";
    src: url("/Fonts/Belleza-Regular.woff");
}

body{
    font-family: "belleza";
    background-color: #ffffff;
    user-select: none;
    font-size: 1vw;
}

a{
    text-decoration: none;
    color:black;
}

.topbar{
    display: flex;
    padding:10px;
    margin-bottom:1.5vh;
}

.links{
    position: fixed;
    right: 10vw;
    top: 5vw;
}

.link{
    font-family: "belleza";
    cursor: pointer;
    font-size: 1.7vw;
    text-decoration: none;
    color:black;
    padding: 1vw;
    margin: 1vw;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.link:hover{
    text-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color:rgb(82, 82, 82);
    text-decoration: underline;
}

.textbox{
    width: 28vw;
    font-size: 1.4vw;
    text-align: left;
    align-items: right;
}

.box{
    position: fixed;
    font-size: 1.7vw;
    top: 10vw;
    right: 5vw;
    padding:2vw;
    width:27vw;
    height: 25vw;
    border:black;
    border-style: solid double double solid ;
}

.projectBox{
    font-family: "belleza";
    filter: grayscale();
    justify-content: center;
    display: inline-block;
    text-align: center;
    width:20vw;
    border-radius: 5px;
    padding: 1vw;
    margin: .5vw;
    transition: all 0.4s ease-in-out;
}

.projectBox:hover{
    filter: grayscale(0%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
}